{% extends "client/bases/edit_base.html" %}
{% load staticfiles %}

{% block title %} Editar Password {% endblock %}

{% block scripts %}
	 <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> 
{% endblock %} 

{% block subtitle %} Editar Password  {% endblock %}

{% block content %}

	<div class="collection">
    <a href="{% url 'client:edit' %}" class="collection-item">Perfil</a>
    <a href="{% url 'client:edit_password' %}" class="collection-item">Password</a>
    <a href="{% url 'client:edit_social' %}" class="collection-item active">Redes Sociales</a>
  </div>

	<div class="class_container_form">
		<form method="post" action="">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Actualizar">
		</form>
	</div>
{% endblock content %}
